@model LMS.batch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header signup">Batch</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form>
        <div class="form-group">
            @Html.LabelFor(model => model.bat_id, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.bat_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bat_id, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.bat_slot, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.DropDownListFor(model => model.bat_slot, new List<SelectListItem> {
                               new SelectListItem { Value = "9-11" , Text = "9-11" },
                               new SelectListItem { Value = "11-1" , Text = "11-1" },
                               new SelectListItem { Value = "3-5" , Text = "3-5" },
                               new SelectListItem { Value = "5-7" , Text = "5-7" },
                               new SelectListItem { Value = "7-9" , Text = "7-9" }
                            }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bat_slot, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.bat_days, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.DropDownListFor(model => model.bat_days, new List<SelectListItem> {
                               new SelectListItem { Value = "M-W-F" , Text = "M-W-F" },
                               new SelectListItem { Value = "T-T-S" , Text = "T-T-S" }
                            }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bat_days, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.bat_teacher, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.DropDownList("bat_teacher", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bat_teacher, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.bat_coordinator, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.DropDownList("bat_coordinator", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bat_coordinator, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.bat_lab, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.EditorFor(model => model.bat_lab, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bat_lab, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.bat_sem, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.DropDownListFor(model => model.bat_sem, new List<SelectListItem> {
                               new SelectListItem { Value = "1" , Text = "1" },
                               new SelectListItem { Value = "2" , Text = "2" },
                               new SelectListItem { Value = "3" , Text = "3" },
                               new SelectListItem { Value = "4" , Text = "4" },
                               new SelectListItem { Value = "5" , Text = "5" },
                               new SelectListItem { Value = "6" , Text = "6" },
                               new SelectListItem { Value = "7" , Text = "7" },
                               new SelectListItem { Value = "8" , Text = "8" }
                            }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bat_status, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.bat_sem, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.bat_status, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.bat_status, new List<SelectListItem> {
                       new SelectListItem { Value = "Going On" , Text = "Going On" },
                       new SelectListItem { Value = "Not Started" , Text = "Not Started", Selected = true }
                    }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.bat_status, "", new { @class = "text-danger" })
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-warning" value="Create" name="sumbit">
        </div>
    </form>
}
<br />
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" })
