@model IEnumerable<LMS.attendance>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Attendance, .Attendance i {
        background-color: #EDEDED !important;
        color: #F36A5A !important;
    }

        .Attendance i {
            color: #F36A5A !important;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Attendances</b>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                @if ((User.IsInRole("Teacher")) || (User.IsInRole("Coordinator")) || (User.IsInRole("Admin")))
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.student.stud_enrollment)
                                    </th>
                                }
                                <th>
                                    @Html.DisplayNameFor(model => model.student.stud_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.att_attendance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.att_session)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.att_month)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.att_year)
                                </th>
                                @if (User.IsInRole("Coordinator") || (User.IsInRole("Admin")))
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.teacher.teach_name)
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if ((User.IsInRole("Student")) && (User.Identity.Name == item.student.stud_enrollment))
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_attendance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_session)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_month)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_year)
                                        </td>
                                    </tr>
                                }
                                if ((User.IsInRole("Coordinator")) && (ViewBag.studID == item.student.stud_enrollment))
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_enrollment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_attendance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_session)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_month)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.teacher.teach_name)
                                        </td>
                                    </tr>
                                }
                                if ((User.IsInRole("Teacher")) && (ViewBag.studID == item.student.stud_enrollment))
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_enrollment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_attendance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_session)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_month)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_year)
                                        </td>
                                    </tr>
                                }
                                if ((User.IsInRole("Admin")) && (ViewBag.studID == item.student.stud_enrollment))
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_enrollment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.student.stud_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_attendance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_session)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_month)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.att_year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.teacher.teach_name)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>