@model IEnumerable<LMS.course>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Course, .Course i {
        background-color: #EDEDED !important;
        color: #F36A5A !important;
    }

        .Course i {
            color: #F36A5A !important;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Course Details</b>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-block btn-md btn-info" })
                    </p>
                }
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.cour_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cour_sessions)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cour_diploma)
                                </th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cour_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cour_sessions)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cour_diploma)
                                    </td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td class="text-center">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.cour_name }, new { @class = "btn btn-primary btn-sm" }) |
                                            <button class="btn btn-danger btn-sm" onclick="del(this, '@Html.DisplayFor(modelItem => item.cour_name)')">Delete</button>
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" value=@Html.DisplayFor(modelItem => item.cour_name) name="delete" />
                                                <input type="submit" value="Confirm Delete" class="btn btn-danger btn-sm" id=@Html.DisplayFor(modelItem => item.cour_name) style="display: none;" />
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>